.App {
  width: 100vw;
  height: 100vh;
}
*{
  box-sizing: border-box;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
  color: white;
}

.text_ellipsis_box {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  display: -webkit-box;
  overflow-wrap: break-word;
}
.css-1rv3ei8-MuiFormControl-root-MuiTextField-root{
  width: 45%!important;
  min-width: 45%!important;
  max-width: 45%!important;
}